jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: java 11 setup
        uses: "actions/setup-java@v2.3.0"
        with:
          distribution: adopt
          java-version: "11"
      - run: 'sbt "++${{ matrix.scala}} compile"'
    strategy:
      matrix:
        scala:
          - "2.12.14"
          - "2.13.6"
  publish:
    if: "github.event_name == 'push'"
    name: publish
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: java 11 setup
        uses: "actions/setup-java@v2.3.0"
        with:
          distribution: adopt
          java-version: "11"
      - env:
          PGP_PASSPHRASE: "${{ secrets.PGP_PASSPHRASE }}"
          PGP_SECRET: "${{ secrets.PGP_SECRET }}"
          SONATYPE_PASSWORD: "${{ secrets.SONATYPE_PASSWORD }}"
          SONATYPE_USERNAME: "${{ secrets.SONATYPE_USERNAME }}"
        name: "Publish ${{ github.ref }}"
        run: sbt ci-release
name: ci
on: [push, pull_request]
