jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"
      - name: java 11 setup
        uses: "actions/setup-java@v4"
        with:
          distribution: "temurin"
          java-version: "11"
          cache: "sbt"
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - run: 'sbt "++${{ matrix.scala}} compile"'
    strategy:
      matrix:
        scala:
          - "2.12.19"
          - "2.13.14"
  publish:
    if: "github.event_name == 'push'"
    name: publish
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"
      - name: java 11 setup
        uses: "actions/setup-java@v4"
        with:
          distribution: "temurin"
          java-version: "11"
          cache: "sbt"
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - env:
          PGP_PASSPHRASE: "${{ secrets.PGP_PASSPHRASE }}"
          PGP_SECRET: "${{ secrets.PGP_SECRET }}"
          SONATYPE_PASSWORD: "${{ secrets.SONATYPE_PASSWORD }}"
          SONATYPE_USERNAME: "${{ secrets.SONATYPE_USERNAME }}"
        name: "Publish ${{ github.ref }}"
        run: sbt ci-release
name: ci
on: [push, pull_request]
